.filters {
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

button {
    font-size: 18px;
    color: #FFFFFF;
    height: 48px;
    background-color: #FF5A5F;
    width: 20%;
    border: 0;
    border-radius: 4px;
    text-align: center;
    margin-right: 30px;
    opacity: 1.0;
    position: absolute;
}

button:hover {
    opacity: 0.9;
}

.locations {
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    margin-right: 0;
}

.amenities {
    height: 100%;
    width: 25%;
    margin-right: auto;
}

.amenities h3, .locations h3 {
    font-weight: 600;
    margin-left: 10%;
    margin-bottom: 0;
}

.amenities h4, .locations h4 {
    font-size: 14px;
    font-weight: 400;
    margin-left: 10%;
    margin-top: 0;
}

.popover {
    background-color: #FAFAFA;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: none;
    list-style-type: none;
    padding-bottom: 10%;
    padding-top: 10%;
}

.popover h2 {
    font-size: 16px;
}

.locations:hover .popover {
    display: block;
    z-index: 100;
}

.amenities:hover .popover {
    display: block;
    z-index: 100;
}

.sublist {
    list-style-type: none;
    margin-bottom: 15%;
    margin-top: 0;
    padding-top: 0;
}
